footer {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #8967B3; /* cor do fundo do footer*/
    text-align: center;
    color: #E6D9A2;
    padding: 10px 50px;
    box-shadow: 0 -2px 5px #CB80AB;
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

main {
    height: 84vh;
}